body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in-out;
}

h1 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-marker-btn, .manage-marker-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#googleMap {
    width: 100%;
    height: 450px;
    background-color: #ebebeb;
    position: relative;
}

.events {
    padding: 20px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px; /* 20px padding on left and right */
}

.card img {
    width: 150px; 
    height: auto;
    border-radius: 10px 0 0 10px; 
}

.event-details h3 {
    margin: 0;
}

.stars {
    color: gold;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: row; /* changed to row */
    align-items: start; /* align items to start at the top */
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
    overflow: hidden;
    max-width: 100%;
}

.card-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-content {
    padding: 10px 15px;
}

.card-title {
    font-weight: bold;
    margin: 0;
}

.card-subtitle {
    color: #888;
    margin: 5px 0;
}

.card-rating {
    color: gold;
}

.card-footer {
    margin-top: 10px;
    text-align: right;
    background-color: #f7f7f7;
    padding: 5px 15px;
    border-top: 1px solid #e0e0e0;
}

.card-footer a {
    color: #0077cc;
    text-decoration: none;
}

.info-window-content {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.info-window-content.show {
    opacity: 1;
    transform: translateY(0);
}

.slide-out {
    transform: translateX(-100%);
    pointer-events: none;
}

.slide-in {
    transform: translateX(0);
}

#mapProgressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd; /* Default background color */
}

#mapProgressBar .progress {
    height: 100%;
    background-color: #4CAF50; /* Progress bar color */
    width: 0;
}